h1 {
      text-align: center;
      background-color: white;
    }

h1:hover {
      background-color: gray;

    }
form.form {
		

}


div#Form label {
	display: block;
}

div{
	margin: 0 auto;


}